In [2]:
import numpy as np

In [4]:
a = np.array([1,2,3,4])

In [6]:
b = np.array([1,4,3,9])

In [14]:
#Taking cos,sine,tan of all elements of a
cos_a = np.cos(a)
sin_a = np.sin(a)
tan_a = np.tan(a)
print("Cos :",cos_a)
print("Sin :",sin_a)
print("Tan :",tan_a)

Cos : [ 0.54030231 -0.41614684 -0.9899925  -0.65364362]
Sin : [ 0.84147098  0.90929743  0.14112001 -0.7568025 ]
Tan : [ 1.55740772 -2.18503986 -0.14254654  1.15782128]

In [18]:
# Array Multiplication
print("a*b = ",a*b)

a*b =  [ 1  8  9 36]

In [22]:
#Power
print("Square of a: ",a**2)
print("Cube of a: ",a**3)
print("Root of b: ",b**1/2)

Square of a:  [ 1  4  9 16]
Cube of a:  [ 1  8 27 64]
Root of b:  [0.5 2.  1.5 4.5]

In [26]:
# Basic math operations
print("Sum in a: ",a+2)
print("Sum in b: ",b+10)
print("Division: ",a/2)

Sum in a:  [3 4 5 6]
Sum in b:  [11 14 13 19]
Division:  [0.5 1.  1.5 2. ]

In [28]:
# Basic math operations
a+=2
print("Sum modified: ",a)
a*=10
print("Multiplication: ",a)

Sum modified:  [3 4 5 6]
Multiplication:  [30 40 50 60]